@font-face {
    font-family: Costanera;
    src: url(assets/fonts/costanera-extrabold.woff);
}

@font-face {
    font-family: HappyMonkey;
    src: url(assets/fonts/HappyMonkey-Regular.woff);
}

$black: #000000;
$blue: #0D7377;
$white: #FFFFFF;
$white-form: #f4f4f4;
$Costanera: Costanera;
$HappyMonkey: HappyMonkey;